<div style="margin-top: 500px;"></div>
<div class="aos-demo-wrapper">

    <h2 data-aos="fade">fade</h2>
    <h2 data-aos="fade-up">fade-up</h2>
    <h2 data-aos="fade-down">fade-down</h2>
    <h2 data-aos="fade-left">fade-left</h2>
    <h2 data-aos="fade-right">fade-right</h2>
    <h2 data-aos="fade-up-right">fade-up-right</h2>
    <h2 data-aos="fade-up-left">fade-up-left</h2>
    <h2 data-aos="fade-down-right">fade-down-right</h2>
    <h2 data-aos="fade-down-left">fade-down-left</h2>
  
    <h2 data-aos="zoom-in">zoom-in</h2>
    <h2 data-aos="zoom-in-up">zoom-in-up</h2>
    <h2 data-aos="zoom-in-down">zoom-in-down</h2>
    <h2 data-aos="zoom-in-left">zoom-in-left</h2>
    <h2 data-aos="zoom-in-right">zoom-in-right</h2>
  
    <h2 data-aos="zoom-out">zoom-out</h2>
    <h2 data-aos="zoom-out-up">zoom-out-up</h2>
    <h2 data-aos="zoom-out-down">zoom-out-down</h2>
    <h2 data-aos="zoom-out-left">zoom-out-left</h2>
    <h2 data-aos="zoom-out-right">zoom-out-right</h2>
  
    <h2 data-aos="flip-left">flip-left</h2>
    <h2 data-aos="flip-right">flip-right</h2>
    <h2 data-aos="flip-up">flip-up</h2>
    <h2 data-aos="flip-down">flip-down</h2>
  
  </div>
  